
    <!doctype html>



<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>5. Messaging &mdash; Err 2.2.1 documentation</title>
    
    <link rel="stylesheet" href="../../../_static/err.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '2.2.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Err 2.2.1 documentation" href="../../../" />
    <link rel="up" title="Plugin development" href="../" />
    <link rel="next" title="6. Presence" href="../presence/" />
    <link rel="prev" title="4. Advanced bot commands" href="../botcommands/" />
    <script type="text/javascript">
        // GitHub pages offers no way to redirect to a canonical location, so we
        // have to make do with hacky javascript redirection :(
        if (document.location.protocol != "file:" && document.location.host != "errbot.net") {
            var path = document.location.pathname.replace('/err/', '/');
            document.location = "http://errbot.net" + path;
        }
    </script>
    <link rel="icon" type="image/png" href="../../../_static/err.png"/>
    <link rel="apple-touch-icon" href="../../../_static/err.png"/>
    <link rel="stylesheet" href="../../../_static/fancybox/jquery.fancybox.css" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="../../../_static/fancybox/jquery.fancybox.pack.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9"/>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32534172-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

  </head>
  <body role="document">
    
    

    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex/" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../../py-modindex/" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../presence/" title="6. Presence"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../botcommands/" title="4. Advanced bot commands"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../../">Err 2.2.1 documentation</a> &raquo;</li>
          <li class="nav-item nav-item-1"><a href="../" accesskey="U">Plugin development</a> &raquo;</li> 
      </ul>
    </div>
      

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="messaging">
<h1>5. Messaging<a class="headerlink" href="#messaging" title="Permalink to this headline">¶</a></h1>
<div class="section" id="returning-multiple-responses">
<h2>5.1. Returning multiple responses<a class="headerlink" href="#returning-multiple-responses" title="Permalink to this headline">¶</a></h2>
<p>Often, with commands that take a long time to run, you may want to
be able to send some feedback to the user that the command is
progressing. Instead of using a single <cite>return</cite> statement you can
use <cite>yield</cite> statements for every line of output you wish to send to
the user.</p>
<p>For example, in the following example, the output will be &quot;Going to
sleep&quot;, followed by a 10 second wait, followed by &quot;Waking up&quot;.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">errbot</span> <span class="kn">import</span> <span class="n">BotPlugin</span><span class="p">,</span> <span class="n">botcmd</span>
<span class="kn">from</span> <span class="nn">time</span> <span class="kn">import</span> <span class="n">sleep</span>

<span class="k">class</span> <span class="nc">PluginExample</span><span class="p">(</span><span class="n">BotPlugin</span><span class="p">):</span>
    <span class="nd">@botcmd</span>
    <span class="k">def</span> <span class="nf">longcompute</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">mess</span><span class="p">,</span> <span class="n">args</span><span class="p">):</span>
        <span class="k">yield</span> <span class="s">&quot;Going to sleep&quot;</span>
        <span class="n">sleep</span><span class="p">(</span><span class="mi">10</span><span class="p">)</span>
        <span class="k">yield</span> <span class="s">&quot;Waking up&quot;</span>
</pre></div>
</div>
</div>
<div class="section" id="sending-a-message-to-a-specific-user-or-muc">
<h2>5.2. Sending a message to a specific user or MUC<a class="headerlink" href="#sending-a-message-to-a-specific-user-or-muc" title="Permalink to this headline">¶</a></h2>
<p>Sometimes, you may wish to send a message to a specific user or a
groupchat, for example from pollers or on webhook events. You can do
this with <a class="reference internal" href="../../../errbot.botplugin/#errbot.botplugin.BotPlugin.send" title="errbot.botplugin.BotPlugin.send"><code class="xref py py-func docutils literal"><span class="pre">send()</span></code></a>:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="c"># To send to a user</span>
<span class="bp">self</span><span class="o">.</span><span class="n">send</span><span class="p">(</span>
    <span class="s">&quot;user@host.tld/resource&quot;</span><span class="p">,</span>
    <span class="s">&quot;Boo! Bet you weren&#39;t expecting me, were you?&quot;</span><span class="p">,</span>
    <span class="n">message_type</span><span class="o">=</span><span class="s">&quot;chat&quot;</span>
<span class="p">)</span>

<span class="c"># Or to send to a MUC</span>
<span class="bp">self</span><span class="o">.</span><span class="n">send</span><span class="p">(</span>
    <span class="s">&quot;conference.host.tld/room&quot;</span><span class="p">,</span>
    <span class="s">&quot;Boo! Bet you weren&#39;t expecting me, were you?&quot;</span><span class="p">,</span>
    <span class="n">message_type</span><span class="o">=</span><span class="s">&quot;groupchat&quot;</span>
<span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="templating">
<h2>5.3. Templating<a class="headerlink" href="#templating" title="Permalink to this headline">¶</a></h2>
<p>It's possible to send <a class="reference external" href="http://xmpp.org/extensions/xep-0071.html">XHTML-IM</a> responses using <a class="reference external" href="http://jinja.pocoo.org/">Jinja2</a> templates.</p>
<p>To do this, first create a directory called <em>templates</em> in the
directory that also holds your plugin's <em>.plug</em> file.</p>
<p>Inside this directory, you can place XHTML-IM templates (with a
<em>.html</em> extension) that extend <cite>base.html</cite> and contain a block
called <cite>body</cite> in place of the content you wish to show. For example
this <em>hello.html</em>:</p>
<div class="highlight-html"><div class="highlight"><pre>{% extends &quot;base.html&quot; %}
{% block body %}
<span class="nt">&lt;p</span> <span class="na">style=</span><span class="s">&#39;font-weight:bold&#39;</span><span class="nt">&gt;</span>Hello, {{name}}!<span class="nt">&lt;/p&gt;</span>
{% endblock %}
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">See the Jinja2 <a class="reference external" href="http://jinja.pocoo.org/docs/templates/">Template Designer Documentation</a> for more information on
the available template syntax.</p>
</div>
<p>Next, tell Err which template to use by specifying the <cite>template</cite>
parameter to <a class="reference internal" href="../../../errbot.decorators/#errbot.decorators.botcmd" title="errbot.decorators.botcmd"><code class="xref py py-func docutils literal"><span class="pre">botcmd()</span></code></a> (leaving off the
<em>.html</em> suffix).</p>
<p>Finally, instead of returning a string, return a dictionary where
the keys refer to the variables you're substituting inside the
template (<cite>{{name}}</cite> in the above template example):</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">errbot</span> <span class="kn">import</span> <span class="n">BotPlugin</span><span class="p">,</span> <span class="n">botcmd</span>

<span class="k">class</span> <span class="nc">Hello</span><span class="p">(</span><span class="n">BotPlugin</span><span class="p">):</span>
    <span class="nd">@botcmd</span><span class="p">(</span><span class="n">template</span><span class="o">=</span><span class="s">&quot;hello&quot;</span><span class="p">)</span>
    <span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">msg</span><span class="p">,</span> <span class="n">args</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Say hello to someone&quot;&quot;&quot;</span>
        <span class="k">return</span> <span class="p">{</span><span class="s">&#39;name&#39;</span><span class="p">:</span> <span class="n">args</span><span class="p">}</span>
</pre></div>
</div>
<p>It's also possible to use templates when using <cite>self.send()</cite>, but in
this case you will have to do the template rendering step yourself,
like so:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">errbot</span> <span class="kn">import</span> <span class="n">BotPlugin</span><span class="p">,</span> <span class="n">botcmd</span>
<span class="kn">from</span> <span class="nn">errbot.templating</span> <span class="kn">import</span> <span class="n">tenv</span>

<span class="k">class</span> <span class="nc">Hello</span><span class="p">(</span><span class="n">BotPlugin</span><span class="p">):</span>
    <span class="nd">@botcmd</span><span class="p">(</span><span class="n">template</span><span class="o">=</span><span class="s">&quot;hello&quot;</span><span class="p">)</span>
    <span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">msg</span><span class="p">,</span> <span class="n">args</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Say hello to someone&quot;&quot;&quot;</span>
        <span class="n">response</span> <span class="o">=</span> <span class="n">tenv</span><span class="p">()</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s">&#39;hello.html&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="n">args</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">send</span><span class="p">(</span><span class="n">msg</span><span class="o">.</span><span class="n">frm</span><span class="p">,</span> <span class="n">response</span><span class="p">,</span> <span class="n">message_type</span><span class="o">=</span><span class="n">msg</span><span class="o">.</span><span class="n">type</span><span class="p">)</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In both cases a plain-text version of your template is automatically
generated for clients and back-ends that do not support XHTML-IM.</p>
</div>
</div>
<div class="section" id="trigger-a-callback-with-every-message-received">
<h2>5.4. Trigger a callback with every message received<a class="headerlink" href="#trigger-a-callback-with-every-message-received" title="Permalink to this headline">¶</a></h2>
<p>It's possible to add a callback that will be called on every message
sent either directly to the bot, or to a chatroom that the bot is
in:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">errbot</span> <span class="kn">import</span> <span class="n">BotPlugin</span>

<span class="k">class</span> <span class="nc">PluginExample</span><span class="p">(</span><span class="n">BotPlugin</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">callback_message</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">mess</span><span class="p">):</span>
        <span class="k">if</span> <span class="n">mess</span><span class="o">.</span><span class="n">body</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="s">&#39;cookie&#39;</span><span class="p">)</span> <span class="o">!=</span> <span class="o">-</span><span class="mi">1</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">send</span><span class="p">(</span>
                <span class="n">mess</span><span class="o">.</span><span class="n">from</span><span class="p">,</span>
                <span class="s">&quot;What what somebody said cookie!?&quot;</span><span class="p">,</span>
                <span class="n">message_type</span><span class="o">=</span><span class="n">mess</span><span class="o">.</span><span class="n">type</span>
            <span class="p">)</span>
</pre></div>
</div>
</div>
</div>

  <div id="prev_next_links">
      
          
              Previous: <a href="../botcommands/">4. Advanced bot commands</a>
          
          
               | 
              Next: <a href="../presence/">6. Presence</a>
          
      
  </div>

          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
    <a class="logo" href="../../../" title="Back to home page">
        <img class="logo" src="../../../_static/err_speech.png" width="220" height="135" alt="Logo of Err"/>
    </a>
    <div class="ghbuttons">
        <iframe src="http://ghbtns.com/github-btn.html?user=gbin&repo=err&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=gbin&repo=err&type=fork&count=true" allowtransparency="true"
                frameborder="0" scrolling="0" width="95" height="20"></iframe>
    </div>
  <h3><a href="../../../">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">5. Messaging</a><ul>
<li><a class="reference internal" href="#returning-multiple-responses">5.1. Returning multiple responses</a></li>
<li><a class="reference internal" href="#sending-a-message-to-a-specific-user-or-muc">5.2. Sending a message to a specific user or MUC</a></li>
<li><a class="reference internal" href="#templating">5.3. Templating</a></li>
<li><a class="reference internal" href="#trigger-a-callback-with-every-message-received">5.4. Trigger a callback with every message received</a></li>
</ul>
</li>
</ul>
<h3>Related Topics</h3>
<ul>
    <li><a href="../../../">Homepage</a></li>
    <li><a href="../../../genindex/">Index</a></li>
    <li><a href="../../../py-modindex/">Module index</a></li>
    <li><a href="../../../modules/">API reference</a></li>
        <li>
        <a href="../">Plugin development</a>
        <ul>
        <li>Previous: <a href="../botcommands/" title="previous chapter">4. Advanced bot commands</a></li>
        <li>Next: <a href="../presence/" title="next chapter">6. Presence</a></li>
        </ul>
        </li>
</ul>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../_sources/user_guide/plugin_development/messaging.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../../search/" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox({
                padding: 0,
                openEffect: 'elastic'
            });
        });
    </script>
    <div class="relbar2">
        
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex/" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../../py-modindex/" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../presence/" title="6. Presence"
             >next</a> |</li>
        <li class="right" >
          <a href="../botcommands/" title="4. Advanced bot commands"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../../">Err 2.2.1 documentation</a> &raquo;</li>
          <li class="nav-item nav-item-1"><a href="../" >Plugin development</a> &raquo;</li> 
      </ul>
    </div>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Guillaume Binet, Tali Davidovich Petrover and Nick Groenen.
          Last updated on May 17, 2015.
        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a>.
    </div>
    
  </body>
</html>